html{
    font-family: 'Roboto', sans-serif;
}

body{
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.726);
    margin: 0;
    text-align: center;
    color: white;
}

/* Particles */
canvas{ 
    display: block; 
}

.tabela{
    margin: 1% 20% 0 20%;
    background-color: rgba(255, 255, 255, 0.123);
    text-shadow: none;
}

.naslov{
    margin-top: 2em;
    font-size: 40px;
}

#particles-js{ 
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0; 
    width: 100vw; 
    height: 100vh; 
    background-color: #b61924; 
}

.meni{
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    font-size: 29px;
    color: white;
    font-weight: bold;
}

.meni a{
    color: white;
    text-decoration: none;
}

.meni a:hover{
    color: rgb(255, 152, 152);
    transition: .3s;
}

/* Meni telefon */
.meniTelefon{
    text-align: left;
    display: none;
}

.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #b61924;
    overflow-x: hidden;
    white-space: nowrap;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .openbtn {
    font-size: 20px;
    background: transparent;
    color: white;
    padding: 10px 15px;
    border: none;
  }

.igre{
    display: flex;
}

.igre a{
    color: white;
    text-decoration: none;
}

.prikaz{
    transition: 0.3s;
    flex: 1;
}

.prikaz img{
    width: 90%;
    height: 90%;
}

.prikaz:hover{
    flex: 1.2;
}

@media only screen and (max-width: 1200px) {
    .meni{
        font-size: 23px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .naslov{
        margin-top: 1.5em;
        font-size: 32px;
    }
  }

@media only screen and (max-width: 700px) {
    body{
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.726);
    }

    .tabela{
        margin: 0;
    }

    .meni{
        display: none;
    }

    .meniTelefon{
        display: block;
    }

    .naslov{
        font-size: 23px;
    }

    .opis{
        font-size: 10px;
    }

    .igre{
        flex-direction: column;
    }

    .prikaz{
        padding-top: 25px;
    }

    .igre h2{
        font-size: 15px;
    }
}