{% extends "igrice/base.html" %}
{% load static %}

{% block head %}
<!-- <link rel="stylesheet" href="{% static '/css/memorije.css' %}"> -->
{% endblock head %}
{% block title %}
  Rezultati
{% endblock title %}

{% block body %}
<h1 class="mt-4 mb-4">Rezultati</h1>
<div class="d-flex justify-content-center"></div>
<button type="button" class="btn btn-light m-2 mb-4" onclick="memorije()" id="btn_memorije">Memorije top 10</button>
<button type="button" class="btn btn-light m-2 mb-4" onclick="reakcija()" id="btn_reakcija">Reakcija top 10</button>
<button type="button" class="btn btn-light m-2 mb-4" onclick="brzina();" id="btn_brzina">Brzina top 10</button>

<h3 id="naslov" >Igrica memorije top 10</h3>
<div class="d-flex align-items-center">
  <table class="table text-white tabela" id="memorije" style="width: 70%;">
    <thead>
      <tr>
        <th scope="col">Pozicija</th>
        <th scope="col">Nick</th>
        <th scope="col">Broj pokusaja</th>
        <th scope="col">Vreme</th>
      </tr>
    </thead>
    <tbody>
      {% for rezultat in memorije %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ rezultat.nick }}</td>
        <td>{{ rezultat.pokusaji }}</td>
        <td>{{ rezultat.vreme }}</td>             
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br><br><br>
  <table class="table text-white tabela" id="reakcija" style="width: 70%;">
    <thead>
      <tr>
        <th scope="col">Pozicija</th>
        <th scope="col">Nick</th>
        <th scope="col">Vreme</th>
      </tr>
    </thead>
    <tbody>
      {% for rezultat in reakcija %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ rezultat.nick }}</td>
        <td>{{ rezultat.vreme }}</td>             
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br><br><br>
  <table class="table text-white tabela" id="brzina" style="width: 70%;">
    <thead>
      <tr>
        <th scope="col">Pozicija</th>
        <th scope="col">Nick</th>
        <th scope="col">Broj klikova</th>
      </tr>
    </thead>
    <tbody>
      {% for rezultat in brzina %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ rezultat.nick }}</td>
        <td>{{ rezultat.klikovi }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br><br><br>
</div>
<script src="{% static '/js/rezultati.js' %}"></script>
{% endblock body %}