{% extends "igrice/base.html" %}
{% load static %}

{% block head %}
<!-- <link rel="stylesheet" href="{% static '/css/memorije.css' %}"> -->
{% endblock head %}
{% block title %}
  Rezultati
{% endblock title %}

{% block body %}
<h1 style="margin-top: 3%;">Rezultati</h1>
<div class="d-flex flex-column align-items-center justify-content-right">
  <table class="table text-white tabela" style="width: 70%;">
    <thead>
      <tr>
        <th scope="col">Pozicija</th>
        <th scope="col">Nick</th>
        <th scope="col">Broj pokusaja</th>
        <th scope="col">Vreme</th>
      </tr>
    </thead>
    <tbody>
      {% for rezultat in memorije %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ rezultat.nick }}</td>
        <td>{{ rezultat.pokusaji }}</td>
        <td>{{ rezultat.vreme }}</td>             
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br><br><br>
  <table class="table text-white tabela" style="width: 70%;">
    <thead>
      <tr>
        <th scope="col">Pozicija</th>
        <th scope="col">Nick</th>
        <th scope="col">Vreme</th>
      </tr>
    </thead>
    <tbody>
      {% for rezultat in reakcija %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ rezultat.nick }}</td>
        <td>{{ rezultat.vreme }}</td>             
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br><br><br>
  <table class="table text-white tabela" style="width: 70%;">
    <thead>
      <tr>
        <th scope="col">Pozicija</th>
        <th scope="col">Nick</th>
        <th scope="col">Broj klikova</th>
      </tr>
    </thead>
    <tbody>
      {% for rezultat in brzina %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ rezultat.nick }}</td>
        <td>{{ rezultat.klikovi }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br><br><br>
</div>
{% endblock body %}