<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/pocetna.css">
    <link rel="stylesheet" href="css/upitnik.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js" ></script>
    <title>Upitnik</title>
</head>

<body>
    <div id="particles-js"></div>
    <div class="meni">
        <p><a href="index.html">Početna</a></p>
        <p><a href="memorije.html">Igra memorije</a></p>
        <p><a href="igricaReakcije.html">Igra reakcije</a></p>
        <p><a href="igricaKlik.html">Igra brzine</a></p>
        <p><a href="upitnik.html">Upitnik</a></p>
    </div>
    <div class="meniTelefon">
        <button class="openbtn" onclick="openNav()">☰</button>
        <div id="sidepanel" class="sidepanel">
            <a href="#" class="closebtn" onclick="closeNav()">×</a>
            <a href="index.html">Početna</a>
            <a href="memorije.html">Igra memorije</a>
            <a href="igricaReakcije.html">Igra reakcije</a>
            <a href="igricaKlik.html">Igra brzine</a>
            <a href="upitnik.html">Upitnik</a>
          </div> 
    </div>
    <h1>UPITNIK</h1>
    <div class= "molba"><h4>Molimo Vas popunite upitnik kako bismo imali uvid u misljenja nasih korisnika. Hvala</h4> </div>
    <div class="upitnik">
        <form name="formaa" class="forma">
            <label for="ime i prezime">Ime i prezime:</label><br>
            <input type="text" id="name_surname" name="ime"> <br><br>
            <label for="email">Email:</label><br>
            <input type="text" name="mejl" id="email"> <br><br>
            <label for="memorija">Koliko vam se svidela igra memorije?</label><br>
            <input type="radio" id="broj11" name="memorija" value="1">1
            <input type="radio" id="broj12" name="memorija" value="2">2
            <input type="radio" id="broj13" name="memorija" value="3">3
            <input type="radio" id="broj14" name="memorija" value="4">4
            <input type="radio" id="broj15" name="memorija" value="5">5 <br><br>
            <label for="reakcija">Koliko vam se svidela igra reakcije?</label><br>
            <input type="radio" id="broj21" name="reakcija" value="1">1
            <input type="radio" id="broj22" name="reakcija" value="2">2
            <input type="radio" id="broj23" name="reakcija" value="3">3
            <input type="radio" id="broj24" name="reakcija" value="4">4
            <input type="radio" id="broj25" name="reakcija" value="5">5 <br><br>
            <label for="brzina">Koliko vam se svidela igra brzine?</label><br>
            <input type="radio" id="broj31" name="brzina" value="1">1
            <input type="radio" id="broj32" name="brzina" value="2">2
            <input type="radio" id="broj33" name="brzina" value="3">3
            <input type="radio" id="broj34" name="brzina" value="4">4
            <input type="radio" id="broj35" name="brzina" value="5">5 <br><br>
            <label for="utisak"> Ocenite vaše iskustvo na našem sajtu:</label><br>
            <select id="utisak">
                <option value="Odličan">Odlično</option>
                <option value="Dobar">Dobro</option>
                <option value="Loš">Loše</option>
            </select><br><br>
            <label for="najjacaIgra"> Koja igra vam se najvise dopala?</label><br>
            <select id="najjacaIgra">
                <option value="Igra memorije"> Igra memorije</option>
                <option value="Igra reakcije"> Igra reakcije</option>
                <option value="Igra brzine"> Igra brzine</option>
            </select><br><br>
            <label for="komentar"> Napišite nam vaš utisak:</label><br>
            <textarea id="komentar" rows="6" cols="90"></textarea><br><br>
            <button type="submit" value="SAČUVAJ">SAČUVAJ</button>
            <input type="reset" value="RESETUJ FORMU">
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="js/particles.js"></script>
    <script src="js/upitnik.js"></script>
    <script src="js/pocetna.js"></script>    
</body>

</html>